<div class="modal fade" id="formModalProveedores" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Nuevo Proveedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <!-- %%%%%%%%%%%%%% Formulario Modal %%%%%%%%%%%%%% -->
        <form action="/proveedores" method="POST">

          <div class="card border-dark mb-4">
            <div class="title-card-text">Administrativo</div>
            <div class="card-body">

              <div class="row g-1">

                <div class="col-md">
                  <div class="form-floating mb-2">
                    <input type="text" class="form-control form-control-sm" id="floatingInput" name="nombre">
                    <label for="floatingInput">Proveedor</label>
                  </div>
                </div>

              </div>

              <div class="row g-2">

                <div class="col-md">
                  <div class="form-floating mb-2">
                    <input type="text" class="form-control form-control-sm" id="floatingInput" name="representante">
                    <label for="floatingInput">Nombre del Representante</label>
                  </div>
                </div>

                <div class="col-md">
                  <div class="form-floating mb-2">
                    <input type="text" class="form-control form-control-sm" id="floatingInput" name="orden">
                    <label for="floatingInput">Número de orden</label>
                  </div>
                </div>

              </div>

              <div class="row g-2">

                <div class="col-md">
                  <div class="form-floating mb-2">
                    <input type="text" class="form-control form-control-sm" id="floatingInput" name="telRep">
                    <label for="floatingInput">telefono</label>
                  </div>
                </div>

                <div class="col-md">
                  <div class="form-floating mb-2">
                    <input type="text" class="form-control form-control-sm" id="floatingInput" name="correoRep">
                    <label for="floatingInput">Correo Electronico</label>
                  </div>
                </div>

              </div>

              <div class="row g-1">
                <div class="col-md">
                  <div class="form-floating mb-2">
                    <textarea class="form-control form-control-sm" id="floatingTextarea" name="adicionalRep"></textarea>
                    <label for="floatingTextarea">Información adicional</label>
                  </div>
                </div>
              </div>

              <div class="row g-2">

                <div class="col-md">

                  <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker date">
                    <input placeholder="Select date" type="text" id="inicioSoporte" class="form-control" name="fechaInicio">                      
                    <label for="example">Fecha - Inicio de Contrato</label>
                    <i class="fas fa-calendar input-prefix" tabindex=0></i>
                  </div>

                  <script type="text/javascript">
                    $(function () {
                      $("#inicioSoporte").datepicker({
                        format: 'yyyy/mm/dd',
                    autoclose: true,
                    todayHighlight: true,
                    defaultDate: '2021/01/01',
                  }).datepicker();
                    });
                  </script>

                </div>

                <div class="col-md">

                  <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                    <input placeholder="Select date" type="text" id="finSoporte" class="form-control" name="fechaFin">                      
                    <label for="example">Fecha - Fin de Contrato</label>
                    <i class="fas fa-calendar input-prefix" tabindex=0></i>
                  </div>

                  <script type="text/javascript">
                    $(function () {
                      $("#finSoporte").datepicker({
                        format: 'yyyy/mm/dd',
                    autoclose: true,
                    todayHighlight: true,
                    defaultDate: '2021/01/01',
                  }).datepicker();
                    });
                  </script>
                </div>


              </div>

            </div>
          </div>


          <div class="card border-dark mb-2">
            <div class="title-card-text">Soporte</div>
            <div class="card-body">

              <div class="row g-1 mb-2">

                <div class="col-md">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="URL">
                    <label for="floatingInput">URL de soporte o generacion de tickets</label>
                  </div>
                </div>

              </div>

              <div class="row g-2 mb-2">

                <div class="col-md">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="telSoporte">
                    <label for="floatingInput">Telefono</label>
                  </div>
                </div>

                <div class="col-md">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="correoSoporte">
                    <label for="floatingInput">Correo electrónico</label>
                  </div>
                </div>

              </div>

              <div class="row g-1">
                <div class="col-md">
                  <div class="form-floating">
                    <textarea class="form-control form-control-sm" name="adicionalSoporte" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Información adicional</label>
                  </div>
                </div>
              </div>
            </div>


          </div>


          <!-- %%%%%%%%%%%%%% footer Modal %%%%%%%%%%%%%% -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- %%%%%%%%%%%%%% Fin Modal %%%%%%%%%%%%%% -->