.icon16 {
  width: 16px;
  height: 16px;
  fill: #f00;
}

.icon32 {
  width: 32px;
  height: 32px;
  fill: #f00;
}

.input-group {
  position: relative;
  display: block!important;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.card {
  padding: 10px!important;
}

.md-form.md-outline label {  
  font-size: 0.9rem!important;
  color: #353535!important;  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */  
  font-size: 0.7rem!important;
}

.btn-secondary {
  color: #fff;
  background-color: rgb(117, 117, 117) !important;
}

.navbar-brand {  
  margin-left: 1rem; 
}

img, svg {
  vertical-align: middle;
  margin-right: 1rem;
  width: 3rem;
}

.form-floating>label {  
  padding: .5rem .5rem; 
}

.title-card-text{
  color: rgb(0, 0, 0);
  background: #fff;  
  margin-top: -23px;
  width: 10rem;
  margin-left: 20px;
  text-align: center;
}